asgiref==3.8.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.0
Django==5.1
django-allauth==64.1.0
fasttext-wheel==0.9.2
feedparser==6.0.11
flashtext==2.7
gensim==4.3.3
hazm==0.10.0
idna==3.8
jalali_core==1.0.0
jdatetime==5.0.0
joblib==1.4.2
nltk==3.9.1
numpy==1.24.3
pandas==2.2.2
pybind11==2.13.5
pycparser==2.22
PyJWT==2.9.0
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
regex==2024.7.24
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
sgmllib3k==1.0.0
six==1.16.0
smart-open==7.0.4
sqlparse==0.5.1
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.2
wrapt==1.16.0
