{% load socialaccount %} 
{% load static %}
<html>
   <head>
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
      <link rel="stylesheet" href="{% static 'base.css' %}">
      <title>{% block title %}{% endblock %}</title>
      {% block header %}
      {% endblock %}
   </head>
   <body>
      <!-- <div class="top-bar">
         <div class="container-fluid">
            <div class="col-md-6">
               <div class="search-btn">
                  <span><i class="fa fa-search"></i></span>
               </div>
            </div>
            <div class="col-md-6">
               <div class="top-cat-box">
                  <div class="col-md-12">
                     <div class="menu">
                        <ul>
                           <li><a href="#">تماس با ما</a></li>
                           <li><a href="#">درباره ما</a></li>
                           <li><a href="#">مقالات</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="show-cat">
                         <span>
                             دسته ها
                             <i class="fa fa-bars"></i>
                         </span>
                     </div>
                     </div>
               </div>
            </div>
         </div>
      </div> -->
      <div class="main-header">
         <div class="container-fluid">
            <div class="col-md-10">
               <div class="main-menu">
                  <ul>
                     {% if user.is_authenticated %}
                     <li>سلام {{user.username}}!</li>
                     {% endif %}
                     {% if user.is_staff %}
                     <li><a href="/admin">admin</a></li>
                     {% endif %}
                     <li><a href="/">صفحه اصلی</a></li>
                     <li><a href="/news">اتاق خبر</a></li>
                     {% if user.is_authenticated %}
                     <li><a href="/accounts/logout/">خروج</a></li>
                     {% else %}
                     <li><a href="{% provider_login_url 'google' %}">ورود</a></li>
                     {% endif %}
                  </ul>
               </div>
            </div>
            <div class="col-md-2">
               <div class="social-box">
                  <ul>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

         {% block content %}
         {% endblock %}

      <div class="clear-fix"></div>
      <div class="footer">
         <div class="container-fluid">
            <div class="col-md-5">
               <div class="footer-box">
                  <span class="title">مجله هد هد</span>
                  <p>متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت متن ساختگی با تولید سادگی نامفهوم تولید
                     سادگی از صنعت متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت متن ساختگی با تولید سادگی از
                     صنعت متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت متن ساختگی با تولید سادگی نامفهوم
                     تولید سادگی از صنعت متن ساختگی بام تولید سادگی از صنعت متن ساختگی با تولید سادگی نامفهوم تولید
                     سادگی از صنعت متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت متن سادگی نامفهوم تولید
                     سادگی از صنعت
                  </p>
               </div>
            </div>
            <div class="col-md-2">
               <div class="footer-box">
                  <span class="title">دسترسی سریع</span>
                  <ul>
                     <li><a href="#">موضوعی</a></li>
                     <li><a href="#">قوانین</a></li>
                     <li><a href="#">نشریات</a></li>
                     <li><a href="#">موضوعی</a></li>
                     <li><a href="#">خبرنامه</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-2">
               <div class="footer-box">
                  <span class="title">موضوعی</span>
                  <ul>
                     <li><a href="#">موضوعی</a></li>
                     <li><a href="#">قوانین</a></li>
                     <li><a href="#">نشریات</a></li>
                     <li><a href="#">موضوعی</a></li>
                     <li><a href="#">خبرنامه</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3">
               <div class="footer-box contact-box">
                  <span class="title">تماس با ما</span>
                  <p><i class="fa fa-phone"></i> 09394183046</p>
                  <p><i class="fa fa-envelope-o"></i> mahdi.ahmadi.1387@gmail.com</p>
                  <p><i class="fa fa-map-marker"></i> تهران،‌ ‍اتوبان شهید همّت، بلوار سردار جنگل، خیابان شهید مخبری، انتهای خیابان شهید افخمی، خیابان فرزانه، علامه حلی ۵ </p>
               </div>
            </div>
            <div class="clear-fix"></div>
         </div>
      </div>
      <div class="end-wrapper">
         <div class="container-fluid">
            <div class="col-md-6">
               <div class="copy-r">
                  <p>&copy; تمامی حقوق متعلق به مهدی احمدی می باشد</p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="creator text-left">
                  <p>طراحی سایت ، مهدی احمدی</p>
               </div>
            </div>
         </div>
      </div>
      <div class="bg"></div>
      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/index.js' %}"></script>
   </body>
</html>