{% load socialaccount %} 
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="آخرین مقالات و آموزش‌های وب‌سایت شرکت آکمی در زمینه طراحی، توسعه و بهره‌وری">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block header %}
	{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">شرکت آکمی</div>
            <nav>
                <a href="#" id="allLink">همه</a>
                <a href="#" id="designLink">طراحی</a>
                <a href="#" id="developmentLink">توسعه</a>
                <a href="#" id="productivityLink">بهره‌وری</a>
            </nav>
        </header>

        <main class="grid" id="articlesGrid">
            <!-- Articles will be dynamically inserted here -->
        </main>
    </div>
	{% block content %}
	{% endblock %}
</body>
</html>