{% extends "base.html" %}
{% load static %}

{% block title %}هدخوان &ndash; HodKhan{% endblock %}

{% block content %}
	{% for thenews in suggested %}
	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a href="/news/{{thenews.id}}"><img src="{% static 'images/DSCF4805.JPG' %}" alt="Image" class="img-responsive"></a>
		</figure>
		<span class="fh5co-meta"><a href="/news/{{thenews.id}}">{{thenews.topic}}</a></span>
		<h2 class="fh5co-article-title"><a href="/news/{{thenews.id}}">{{thenews.title}}</a></h2>
		<span class="fh5co-meta fh5co-date">{{thenews.published}}</span>
	</article>
	{% endfor %}
{% endblock %}