{% extends "base.html" %}
{% load static %}

{% block title %}اخبار{% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
 
{% block content %}
<div class="latest-posts">
  <div class="container-fluid">
     <div class="blog-title-span">
        <span class="title">اخبار پیشنهادی</span>
     </div>

     {% for thenews in suggested %}
      <div class="col-md-3">
          <div class="post-box">
            <!-- <a href="/news/{{thenews.id}}"> -->
                <figure>
                  <img src="{% static 'img/DSCF4805.JPG' %}" alt="">
                  <figcaption class="meta-fig">
                      <span><i class="fa fa-clock-o"></i> {{thenews.published}}</span>&nbsp;
                      <span><i class="fa fa-comment-o"></i> 12</span>
                  </figcaption>
                  <figcaption class="view">
                      <span>{{thenews.topic}}</span>
                  </figcaption>
                </figure>
                <div class="text-p">
                  <h5>{{thenews.title}}</h5>
                  <p>{{thenews.abstract}}</p>
                  <div class="text-rigt">
                    <div class="card">
                      <span onclick="gfg(1, {{thenews.id}})" class="star{{thenews.id}}" style="font-size: 3vh;">★</span>
                      <span onclick="gfg(2, {{thenews.id}})" class="star{{thenews.id}}" style="font-size: 3vh;">★</span>
                      <span onclick="gfg(3, {{thenews.id}})" class="star{{thenews.id}}" style="font-size: 3vh;">★</span>
                      <span onclick="gfg(4, {{thenews.id}})" class="star{{thenews.id}}" style="font-size: 3vh;">★</span>
                      <span onclick="gfg(5, {{thenews.id}})" class="star{{thenews.id}}" style="font-size: 3vh;">★</span>
                  </div>
            </div>
            </div>
            <!-- </a> -->
          </div>
      </div>
      {% endfor %}

   </div>
   <div class="container-fluid">
<!-- 
      <div class="blog-title-span">
         <span class="title">اخبار دیگر</span>
      </div>

      {% for thenews in news %}
      <div class="col-md-3">
          <div class="post-box">
            <a href="/news/{{thenews.id}}">
                <figure>
                  <img src="img/290667058azer news.jpg" alt="">
                  <figcaption class="meta-fig">
                      <span><i class="fa fa-clock-o"></i> {{thenews.published}}</span>&nbsp;
                      <span><i class="fa fa-comment-o"></i> 12</span>
                  </figcaption>
                  <figcaption class="view">
                      <span>{{thenews.topic}}</span>
                  </figcaption>
                </figure>
                <div class="text-p">
                  <h5>{{thenews.title}}</h5>
                  <p>{{thenews.abstract}}</p>
                  <div class="text-rigt">
            </div>
            </div>
            </a>
          </div>
      </div>
      {% endfor %}
 -->
     <!-- <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
           <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">قبلی</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">بعدی</a></li>
           </ul>
        </nav>
     </div> -->
    <script src="{% static 'js/news.js' %}"></script>
  </div>
</div>
{% endblock %}