{% extends "base.html" %}

{% block title %}news{% endblock %}

{% block content %}
<div class="latest-posts">
  <div class="container-fluid">
     <div class="blog-title-span">
        <span class="title">اخبار و مقالات</span>
     </div>

     {% for thenews in news %}
      <div class="col-md-3">
          <div class="post-box">
            <a href="{{thenews.id}}">
                <figure>
                  <img src="img/290667058azer news.jpg" alt="">
                  <figcaption class="meta-fig">
                      <span><i class="fa fa-clock-o"></i> {{thenews.published}}</span>&nbsp;
                      <span><i class="fa fa-comment-o"></i> 12</span>
                  </figcaption>
                  <figcaption class="view">
                     {% for tag in thenews.tags %}
                      <span>{{tag}}</span>
                     {% endfor %}
                  </figcaption>
                </figure>
                <div class="text-p">
                  <h5>{{thenews.title}}</h5>
                  <p>{{thenews.abstract}}</p>
                  <div class="text-rigt">
            </div>
            </div>
            </a>
          </div>
      </div>
      {% endfor %}


     <!-- <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
           <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">قبلی</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">بعدی</a></li>
           </ul>
        </nav>
     </div> -->
  </div>
</div>
{% endblock %}