{% extends "base.html" %}
{% load static %}

{% block title %}HodKhan &ndash; Privacy Policy {% endblock %}

{% block content %}
    <div class="col-lg-12 col-md-12 text-center" style="direction: ltr;">
        <h2>Privacy Policy for HodKhan</h2>
        <h4>
            Information Collection:
            <br>
            We collect personal information such as your name, email address, and preferred news categories when you create an account.
            We automatically collect data on your news reading habits, including articles viewed and ratings given.
            <br>
            <br>
            Use of Information:
            <br>
            Your personal information and reading habits are used to personalize your news feed and improve our AI models.
            We do not sell or share your personal information with third parties.
            <br>
            <br>
            Data Security:
            <br>
            We implement industry-standard security measures to protect your data.
            While we strive for maximum security, no method of data transmission is 100% secure.
            <br>
            <br>
            User Controls:
            <br>
            You can update your preferences and personal information at any time through your account settings.
            You have the right to request a copy of your data or ask for its deletion.
            <br>
            <br>
            Cookies:
            <br>
            We use cookies to enhance your browsing experience and collect usage data.
            You can adjust your browser settings to refuse cookies, but this may limit some features.
            <br>
            <br>
            Changes to Privacy Policy:
            <br>
            We may update this policy periodically. We will notify you of any significant changes.
            <br>
            <br>
            Contact:
            <br>
            For any privacy-related questions, please contact us at mahdi.ahmadi.1387@gmail.com.
        </h4>
    </div>
{% endblock %}