{% extends "base.html" %}
{% load static %}

{% block title %}انتخاب علایق{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h1>انتخاب ترجیحات</h1>
        <form id="preferencesForm" method="GET">
            <div class="checkbox-group">
                {% for topic in topics %}
                    <div class="checkbox-item">
                        <input type="checkbox" id="{{topic.id}}" name="topic" value="{{topic.id}}">
                        <label for="{{topic.id}}">{{topic.title}}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit">ثبت نام</button>
        </form>
    </div>
</div>
{% endblock %}
  