{% extends "base.html" %}
{% load static %}

{% block title %}انتخاب علایق{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/select.css' %}">
{% endblock %}

{% block content %}
<div class="latest-posts" style="margin-bottom: 50px;">
    <div class="container-fluid">
        <div class="blog-title-span">
            <span class="title">اخبار و مقالات</span>
        </div>
        <form action="" id="checkboxs" method="get">
            <div class="row">
                <div id="checkboxes">
                    {% for topic in topics %}
                        <div class="col-md-3 text-center">
                                <input type="checkbox" name="topic" value="{{topic.id}}" id="{{topic.id}}"/>
                                <label class="whatever" for="{{topic.id}}">{{topic.title}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row text-center">
                <input type="submit" value="ثبت" style="padding: 10px; border-radius: 100%; width: 100px;">
            </div>
        </form>
    </div>
</div>
<div class="clear-fix"></div>
{% endblock %}
  