{% extends "base.html" %}

{% block title %}{{news.title}}{% endblock %}

{% block content %}
<div class="single_post">
    <div class="container-fluid">
       <div class="col-md-2"></div>
       <div class="col-md-8">
          <div class="row">
             <div class="col-md-2"></div>
             <div class="col-md-8">
                <div class="post_img">
                   <img src="img/696112501123546.jpg" alt="">
                </div>
             </div>
             <div class="col-md-2"></div>
          </div>
          <div class="posts_meta text-center">
            <span><i class="fa fa-comment-o"></i> 25 نظر</span>
            <span><i class="fa fa-archive"></i>{{news.topic}}</span>
            <span><i class="fa fa-calendar"></i> {{news.published}}</span>
          </div>
          <div class="post_content">
             <h4>{{news.title}}</h4>
             <p>{{news.abstract}}</p>
          </div>
          <div class="comments_form">
             <h5>دیدگاه شما </h5>
             <form>
                <div class="form-row">
                   <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="نام شما">
                   </div>
                   <div class="col-md-6">
                      <input type="email" class="form-control" placeholder="ایمیل">
                   </div>
                   <div class="col-md-12">
                      <textarea class="form-control" placeholder="نظر شما ..."></textarea>
                   </div>
                   <div class="col-md-12">
                      <div class="text-left">
                         <button class="btn btn-primary">ثبت نظر</button>
                      </div>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}