{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}خارج شدن از حساب{% endblock %}
{% block content %}
<div class="single_post">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="post_content text-center">
                <h1>خروج از حساب</h1>
                <p>آیا مطمئن هستید که میخواهید خارج شوید؟   </p>
                {% url 'account_logout' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True %}
                    {% slot body %}
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}" />
                        {% endif %}
                    {% endslot %}
                    {% slot actions %}
                        <button type="submit" style="padding: 10px; border-radius: 100%; width: 100px;">خروج</button>
                    {% endslot %}
                {% endelement %}
              </div> 
           </div>
        </div>
     </div>
     <div class="clear-fix"></div>
{% endblock content %}